<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
<head>
  {% include "components/seo-scripts.njk" %}
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display...&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/main.css' | url }}">
</head>

<body class="bg-relatio-dark text-relatio-off font-sans antialiased cursor-none">
  
  {% include "components/gtm-noscript.njk" %}
  
  {% include "components/header.njk" %}
  
  <main> 
    {{ content | safe }}
  </main>

  {% include "components/footer.njk" %}

  {% include "components/body-scripts.njk" %}
  
</body>
</html>